
#application {
  background-color: #0D1117 !important;
  color: #E6EDF3;
}
#content.ic-Layout-contentMain {
  background-color: #0D1117;
}

:root:root {
  --ctrLD-color: #cad1d6;  
}

#edit_calendar_event_form_holder{
  background-color: #0D1117 !important;
  color: #E6EDF3;
}

body{
  background-color: #0D1117 !important;
}

h1.page-title{
  color: #E6EDF3 !important;
}

span{
  color: #E6EDF3 !important;
}

span.fQfxa_biBD{
  color: #000 !important;
}
ul.pill{
  background-color: #E6EDF3 !important;
  color: #000 !important;
}


div[data-testid=tool-bar]{
  background-color: #0D1117 !important;
  color: #E6EDF3 !important;
  border: #E6EDF3 solid 1px !important;
}

div[data-testid=submission-comment]{
  color: #E6EDF3 !important;
}

.fOyUs_bGBk.eMdva_bgqc.eMdva_pypk.eMdva_MrVJ.eJkkQ_bEpV{
  color: #000 !important;
}

span[data-testid=message-detail-item-desktop],span.enRcg_bGBk.enRcg_ycrn.enRcg_fbNi.enRcg_eQnG{
  color: #E6EDF3 !important;
}

tr,td,th, .ig-header, .ig-header-title{
  background-color: #0D1117 !important;
  color: #E6EDF3 !important;
}

td.event{
  background-color: #38b9ec !important;
}
.quiz-submission{
  color: #000 !important;
}

.btn, #month, #week, #agenda .navigate_prev, .navigate_next, .navigate_today, .fc-toolbar{
  background-color: #202124 !important;
  color: #E6EDF3 !important;
}
#course_select_menu{
  color: #000 !important;
}

div[letter-spacing=normal].enRcg_bGBk.enRcg_dfBC.enRcg_pEgL.enRcg_eQnG{
  color: #E6EDF3 !important;
}

span.elMgC_eYKj{
  color: #000 !important;
}

svg[name=IconArrowDown], svg[name=IconArrowOpenDown], svg[name=IconSearch]{
  color: #000 !important;
}

.comment{
  color: #E6EDF3 !important;
}

#main.ic-Layout-contentMain{
  background-color: #202124 !important;
  color: #E6EDF3 !important;
}

li.section{
  color: #22d4f3 !important;
}

.icon-check-plus::before{
  color: #E6EDF3 !important;
}

.icon-warning::before{
  color: #E6EDF3 !important;
} 

.icon-mini-arrow-down::before{
  color: #E6EDF3 !important;
}

a.active{
  color: #25a3d4 !important;
}


a.fc-day-grid-event{
  background-color: #0D1117!important;
  color: #E6EDF3 !important;
}

span.dLyYq_bGBk.dLyYq_bXiG{
  background-color: #0D1117!important;
  color: #E6EDF3 !important;
}

.Grouping-styles__title{
  background-color: #0D1117 !important;
}

span.Grouping-styles__title::after{
  height: 0px;
}

.menu-item .ic-app-header__menu-list-item{
  background-color: #010409 !important;
  color: #E6EDF3 !important;
}


#assignments-2-student-header, .user_content{
  background-color: #0D1117 !important;
  color: #E6EDF3 !important;
}

#assignments-student-footer{
  background-color: #0D1117 !important;
}

a.btn{
  color: #E6EDF3;
}

a.Button{
  color: #E6EDF3 !important;
  background-color: #0D1117 !important;
}

a.popover_close.x-close-link.close{
  color: #E6EDF3 !important;
}

button.ui-dialog-titlebar-close.ui-corner-all{
  background-color: #E6EDF3 !important;
}

svg[name=IconReply],svg[name=IconAddressBook],svg[name=IconReplyAll2],svg[name=IconCollectionSave],svg[name=IconCompose]{
  color: #000 !important;
}

svg[name=IconBookmark],svg[name=IconAssignment],svg[name=IconAnnouncement],svg[name=IconPlus],svg[name=IconQuiz],svg[name=IconAlerts],svg[name=IconGradebook],svg[name=IconDiscussion],svg{
  color:#E6EDF3 !important;
}

svg[name=IconTrash]{
  color: crimson !important;
}

svg[name=IconMore]{
  color: #25a3d4 !important;
}

span.menu-item__badge{
  color: #000 !important;
  background-color: #0D1117;
}

span.enRcg_bGBk.enRcg_ycrn.enRcg_eQnG{
  color: #000 !important;
}

svg[name="IconX"],i.icon-check-plus{
  color: #E6EDF3 !important;
}

span.comment_count{
  color: #000 !important;
}

h2{
  color:#E6EDF3 !important;
}

h3{
  color: #000 !important;
}

button.element_toggler {
  color:#E6EDF3 !important;
}

#content, .button-sidebar-wide{
  background-color: #0D1117 !important;
}

/*nav*/
.ic-app-header__main-navigation,.tray-with-space-for-global-nav, .navigation-tray-container.courses-tray, .navigation-tray-container,.UpdateItemTray-styles__root,#nav-tray-portal, div.fLzZc_caGd{
  background-color: #010409 !important;
}
.PlannerItem-styles__feedback,span.enRcg_bGBk.enRcg_ycrn.enRcg_eQnG{
  color: #E6EDF3 !important;
}
span[dir=ltr]{
  background-color: #010409 !important;
}

span.fCrpb_bGBk.fCrpb_egrg{
  color: #E6EDF3 !important;
}

div.context{
  color: #E6EDF3 !important;
}

.ic-DashboardCard, .ic-DashboardCard__header_content, .header, .header-bar, .context-modules-title, .module-sequence-footer-content,
.ic-DashboardCard__action-container, .item-group-container, .ig-row, .header-bar-outer-container,
.comm-channel, .grouping, th, .table, .planner-day, .nothingPlannedContainer_hppr
, .comments, .roster-tab, .rosterUser, .syllabus_assignment, tbody, .day_date, .table, .table-striped, .ic-flash-error,
span[role=dialog], span[role=dialog] > div, .agenda-wrapper, .agenda-day, .agenda-event__container,
.event-details, .rubric_title, .content_box, .edit_calendar_event_form_holder,.ui-dialog-titlebar, .ui-widget-header, .ui-corner-all, .ui-helper-clearfix,.context_list_context,#other-calendars-list-holder,#edit_planner_note_form_holder  {
    background-color: #0D1117 !important;
}

.ic-app-header__logomark{
  background-color: #010409;
}
.ic-app-header__secondary-navigation{
  background-color: #010409;
}

/*dash */
#dashboard-planner {
  background-color: #0D1117;
}

.Day-styles__root.planner-day{
  background-color: #0D1117;
}

.discussions-v2__container-image,.unpinned-discussions-v2__wrapper,.closed-for-comments-discussions-v2__wrapper{
  background-color: #0D1117 !important;
}
.Day-styles__root.planner-day.planner-today{
  color: #E6EDF3;
}
.Day-styles__secondary, span.month_name, span.year_number,.icon-arrow-open-left,.icon-arrow-open-right{
  color: #E6EDF3 !important;
}

.EmptyDays-styles__nothingPlannedContainer{
  background-color: #0D1117;
}

.has_event, input#course_select_menu,input#assignment_sort_order_select_menu,#to-do-item-course-select{
  color: #000 !important;
}

.EmptyDays-styles__nothingPlannedContainer{
  color: #E6EDF3;
}

.PlannerItem-styles__type{
  --enRcg-secondaryColor: #E6EDF3;
}


.fc-icon, #course_select_menu, #assignment_sort_order_select_menu, button.fOyUs_bGBk  {
  color: #E6EDF3 !important;
}

.navigation-tray-container button:active::before{
  background-color: #0D1117 !important;
}


.ic-Dashboard-header__layout, #ugyHpVu7UZ3C,.fOyUs_kXoP{
  background-color: #0D1117 !important;
  color: #E6EDF3 !important;
}

.course-list-table .course-list-table-row:hover, .ef-item-row:hover, tr:hover, td:hover a:hover{
  color: #22d4f3 !important;
}

span.name, .PlannerItem-styles__due{
  color: #E6EDF3 !important;
}


span.user_content, span.enhanced{
  color: #E6EDF3 !important;
}

.course-list-unpublished-course-row{
  background-color: #0D1117 !important;
  color: #E6EDF3;
}
.css-srlnt2-formFieldLabel, #to-do-item-course-select, #ui-dialog-title,#ui-id-1,.formtable{
  color: #E6EDF3 !important;
}
.fc-state-highlight.fc-day-number{
  color: #22d4f3 !important;
  background-color: #202124 !important;
  font-weight: bold !important;
  border-bottom: #E6EDF3 solid 1px !important;
}

#minical{
  background-color: #202124 !important;
}

.fc-day-number{
  color: #E6EDF3 !important;
}


.PlannerHeader-styles__root, .PlannerHeader, #dashboard-planner-header,.CanvasPlanner__HeaderContainer{
  background-color: #0D1117 !important;
  color: #E6EDF3 !important;
}

/*module stuff*/

.module-item-title, .item_name, .ig-type-icon, .ig-info, .ig-title, .title, .item_link, .name, .icon-mini-arrow-down,.icon-mini-arrow-up{
  color: #E6EDF3 !important;
}
.title:hover{
  color: #22d4f3 !important;
}

.ellipsible{
  color: #E6EDF3 !important;
}

.ic-DashboardCard__header_content, .ic-DashboardCard__action-container,.ic-DashboardCard{
  background-color: #202124 !important;
}

#breadcrumbs{
  background-color: #0D1117 !important;
  color: #E6EDF3 !important;
}
.pure-u-1{
  color: #E6EDF3 !important;
}


span.sJGfW_bGBk, ul.cAqHo_eAjd, span.eoNrR_blJt{
  background-color: #0D1117 !important;
}



.fQfxa_caGd.fQfxa_ImeN, [dir="ltr"] .fQfxa_caGd.fQfxa_ImeN, [dir="rtl"] .fQfxa_caGd.fQfxa_ImeN{
  background-color: #0D1117 !important;
}

button#submit-button{
  color: #E6EDF3 !important;
}

span.fQfxa_biBD{
  color: #E6EDF3 !important;
}