
#application {
  background-color: #0D1117 !important;
  color: #E6EDF3;
}
#content.ic-Layout-contentMain {
  background-color: #0D1117;
}

/*nav*/
.ic-app-header__main-navigation {
  background-color: #010409;
}

.fLzZc_caGd{
  background-color: #010409 !important;
}

.ic-DashboardCard, .ic-DashboardCard__header_content, .header,
.ic-DashboardCard__action-container, .item-group-container, .ig-row, .header-bar-outer-container
, .fc-body, .fc-content, .fc-event-container,
.comm-channel, .grouping, th, .table, .planner-day, .nothingPlannedContainer_hppr
, .comments, .roster-tab, .rosterUser, .syllabus_assignment, tbody, .day_date, .table, .table-striped, .ic-flash-error,
span[role=dialog], span[role=dialog] > div, .agenda-wrapper, .agenda-day, .agenda-event__container,
.event-details, .rubric_title, .content_box {
    background-color: #0D1117 !important;
}

.ic-app-header__logomark{
  background-color: #010409;
}
.ic-app-header__secondary-navigation{
  background-color: #010409;
}

/*dash */
#dashboard-planner {
  background-color: #0D1117;
}

.Day-styles__root.planner-day{
  background-color: #0D1117;
}
.Day-styles__root.planner-day.planner-today{
  color: #E6EDF3;
}
.Day-styles__secondary{
  color: #E6EDF3;
}

.EmptyDays-styles__nothingPlannedContainer{
  background-color: #0D1117;
}

.EmptyDays-styles__nothingPlannedContainer{
  color: #E6EDF3;
}

.PlannerItem-styles__type{
  --enRcg-secondaryColor: #E6EDF3;
}


.enRcg_eQnG ,.fOyUs_bGBk, .fOyUs_ImeN, .fOyUs_UeJS{
  color: #E6EDF3 !important;
}
