
#application {
  background-color: #0D1117;
  color: #E6EDF3;
}
#content.ic-Layout-contentMain {
  background-color: #0D1117;
}

/*nav*/
.ic-app-header__main-navigation {
  background-color: #010409;
}

/*autogen css for navs and slideouts */
.fLzZc_caGd{
  background-color: #010409;
}
.fOyUs_bGBk{
  background-color: #010409;
} 
.fOyUs_desw{
  background-color: #010409;
} 
.bDzpk_bGBk{
  background-color: #010409;
} 
.bDzpk_oDLF{
  background-color: #010409;
} 
.bDzpk_fZWR{
  background-color: #010409;
} 
.bDzpk_qOas{
  background-color: #010409;
}
.ejhDx_bGBk{
  background-color: #010409;
}
.ejhDx_bxia{
  background-color: #010409;
} 
.ejhDx_coHh{
  background-color: #010409;
}
.fLzZc_bGBk{
  background-color: #010409;
}
.fLzZc_fSpQ{
  background-color: #010409;
}
.fLzZc_doqw{
  background-color: #010409;
}
.fLzZc_bQpq{
  background-color: #010409;
} 
.eJkkQ_bIuM{
  background-color: #010409;
}

.ic-app-header__logomark{
  background-color: #010409;
}
.ic-app-header__secondary-navigation{
  background-color: #010409;
}

/*dash */
#dashboard-planner {
  background-color: #0D1117;
}



.Day-styles__root.planner-day{
  background-color: #0D1117;
}
.Day-styles__root.planner-day.planner-today{
  color:E6EDF3E6EDF3;
}
.Day-styles__secondary{
  color: #E6EDF3;
}

.EmptyDays-styles__nothingPlannedContainer{
  background-color: #0D1117;
}

.EmptyDays-styles__nothingPlannedContainer{
  color: #E6EDF3;
}


.PlannerItem-styles__type{
  --enRcg-secondaryColor: #E6EDF3;
}

.enRcg_eQnG{
  color: #E6EDF3;
}

.fOyUs_bGBk{
  color: #E6EDF3
}
.fOyUs_ImeN{
  color: #E6EDF3
} 
.fOyUs_UeJS{
  color: #E6EDF3
}